@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0;
  }
  /* nav style starts */
  .nav-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 25px 140px;
  }
  .nav-school{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .school{
    font-size: 2rem;
    font-weight: bold;
    color: black;
  }
  .nav-school> img{
    width: 3.8rem;
    height: 3.8rem;
    max-width: 100%;
  }
  .about-us{
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  .about-us a{
    text-decoration: none;
  }
  .home a{
    color: rgba(254, 163, 1, 1);
  }
  .about a{
    color: rgba(1, 172, 253, 1);
  }
  .facilits a{
    color: rgba(5, 212, 223, 1);
  }
  .admission a{
    color: rgba(93, 88, 239, 1);
  }
  .primary-btn{
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(254, 163, 1, 1);
    border-radius: 12px;
    padding: 10px 60px;
    border: none;
  }
  a:hover{
    background-color: darkgrey;
    border-radius: 8px;
  }
  button:hover{
    background-color: darkgrey;
    border-radius: 8px;
  }
/* nav-toogle starts */
.nav-toggle{
  width: 40px;
  height: 50px;
  border: none;
  border-radius: 8px;
  display: none;
}


  /* header main part starts */
  .main-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 140px;
    gap: 50px;
  }
  .part-1{
    width: 640px;
    height: 330px;
    max-width: 100%;
  }
  .empower{
    color: rgba(254, 163, 1, 1);
  }
  .towards{
    color: rgba(1, 172, 253, 1);
  }
  .school-title{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 24px;
  }
  .school-description{
    font-size: 1.25rem;
    font-weight: 400;
    color: black;
    margin-bottom: 24px;
  }
  .enroll{
    font-size: 1.25rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    border: none;
    background-color: black;
    padding: 10px 46px;
  }
  .header-img{
    /* width: 460px;
    height: 570px; */
    max-width: 100%;
  }


  /* main-part-1 */
  .main-part{
    background-image: url(../assets/bg.png);
  }
  .main-title{
    font-size: 2.85rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 60px;
  }
  .card-box{
    display: flex;
    gap: 28px;
    margin: 80px 140px;
  }
  .box-1{
    text-align: center;
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }
  .box-2{
    text-align: center;
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
   
}
.box-3{
    text-align: center;
    border-radius: 18px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
  .main-img{
    margin-bottom: 32px;
    margin-top: 50px;
  }
  .image-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 32px;
    color: rgba(32, 32, 32, 1);
  }
  .image-description{
    font-size: 0.95rem;
    font-weight: 500;margin-bottom: 32px;
    color: rgba(128, 128, 128, 1);
  }
  .read-1{
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: rgba(100, 200, 255, 1);
  }
  .read-2{
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: rgba(240, 170, 0, 1);
  }
  .read-3{
    font-size: 0.95rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: rgba(135, 0, 255, 1);
  }
  /* arrows part starts */
  .arrows{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-position: center;
    margin-bottom: 60px;
  }
  .round-box{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: rgba(254, 163, 1, 1);
  }
  

  /* last-part starts */
  .last-part{
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
  }
.our-title{
    font-size: 2.8rem;
    font-weight: bold;
    color: black;
    margin-top: 60px;
    text-align: center;
}
.another-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 18px;
    max-width: 80%;
    margin: 80px 140px;
}
#firsr-box{
    grid-row: span 2;
}
.our-box img{
  max-width: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.our-box{
    background-color: white;
    border-radius: 18px;
    border: none;
}
/* last part button */
.our-btn{
    font-size: 0.95rem;
    font-weight: 500;
    color: white;
    background-color: rgba(149, 178, 38, 1);
    padding: 12px 15px;
    border: none;
    border-radius: 47px;
    margin-top: -100px;
    margin-left: 30px;
}
.first-btn{
    font-size: 0.95rem;
    font-weight: 500;
    color: white;
    background-color: rgba(60, 216, 232, 1);
    padding: 14px 19px;
    border: none;
    border-radius: 47px;
    margin-top: -200px;
    margin-left: 30px;
}
#exceptional-btn{
    background-color: rgba(93, 88, 240, 1);
}
.first-our-img-title{
font-size: 1.5rem;
font-weight: bold;
margin: 34px 38px 47px 38px;
}
.first-our-img-description{
    font-size: 0.95rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    margin: 0px 65px 34px 34px;
}
.our-img-title{
    font-size: 0.95rem;
    font-weight: bold;
    color: black;
    margin: 23px 54px 33px 34px;
}

.view-all{
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 12px;
    padding: 10px 60px;
    margin: 80px 620px 60px 620px;
}

/* footer style starts */
.footer{
  margin-top: 0px;
  background-color: rgba(1, 172, 253, 1);
}
.footer-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* margin: 0px 225px 170px 140px; */
  padding-top: 120px;
  margin-left: 140px;
  margin-right: 140px;
  padding-bottom: 174px;
  column-gap: 160px;
}
.kids-information{
  display: flex;
  gap: 10px;
}
.kids-information> img{
  max-width: 80px;
  max-height: 80px;
}
.footer-nav a{
  text-decoration: none;
  color: white;
}
.footer-title{
  font-size: 2.65rem;
  font-weight: bold;
  color: white;
}
.footer-description{
  font-size: 1.25rem;
  font-weight: 400;
  color: white;
  margin-top: 30px;
}
.about-school{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}
.item{
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  list-style: none;
 margin-bottom: 20px;
}
.keep{
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}
/* marquee style */
.marquee{
  background-color: lightgray;
  font-size: 1.25rem;
  font-weight: 600;

}


  /* mobile device */
  @media screen and (max-width: 576px) {
    nav> .about-us, .primary-btn{
        display: none;
    }   
    .nav-title> .nav-school> .school{
        display: none;
        margin-bottom: 15px;
    }
    .nav-title{
      padding: 10px;
        border-bottom: 1px solid #FEA301;
        margin: 0px auto;
        border-width: 90%;
    }
    nav{
        margin-bottom: 12px;
        border-width: 100%;
    }
    .nav-toggle{
      display: block;
    }

    /* main header */
    .main-header{
        flex-direction: column-reverse;
        margin: 8px 16px;
    }
    .part-1{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .main-part{
        margin: 240px 0px 0px 0px;
    }
    /* card box starts */
    .card-box{
        flex-direction: column;
        max-width: 90%;
        margin: 20px 16px;
    }
    .our-btn{
      max-width: 50%;
    }
    .arrows{
        display: none;
    }
   /* main er last part */
   #firsr-box{
    display: none;
   }
   .another-card{
    grid-template-columns: repeat(2, 1fr);
    max-width: 70%;
    gap: 10px;
    margin: 20px 10px;
   }
   .last-part{
    margin: 0;
   }
   .view-all{
    margin: 20px 110px ;
   }
 /* footer starts */
 .footer{
  margin: 0px;
 }
 .footer-section{
  grid-template-columns: repeat(1,1fr);
  row-gap: 40px;
  margin-left: 15px;
 }
}


  